.item1 { grid-area: header;}
.item2 { grid-area: firstblock;}
.item3 { grid-area: secondblock;}
.item4 { grid-area: testimonials-title;}
.item5 { grid-area: testimonials;}
.item6 { grid-area: pre-footer;}
.item7 { grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas: 
   'header'
   'firstblock'
   'secondblock'
   'testimonials-title'
   'testimonials'
   'pre-footer'
   'footer';
   font-family: Be Vietnam Pro;

}

.grid-container > div {
  display: flex;
  padding: 50px 0;
}

.item1 {
  justify-content: space-between;
}

.item2 {
  justify-content: space-between;

}

.item3 {
  justify-content: space-between;

}

.pros {
  width: 30%;
}

.pros-list {
  width: 50%;
}

.item4 {
  justify-content: center;
}

.item6 {
  background-color: orangered;
  justify-content: space-between;

}

.item7 {
  background-color: rgb(59, 57, 57);
  padding: 50px;
}