html, body, div, button, h1, h2, h3, h4, h5, h6 {
  font-family: Be Vietnam Pro;

}

.item1 { grid-area: header;}
.item2 { grid-area: firstblock;}
.item3 { grid-area: secondblock;}
.item4 { grid-area: testimonials-title;}
.item5 { grid-area: testimonials;}
.testimonials-btn { grid-area: button;}
.item6 { grid-area: pre-footer;}
.item7 { grid-area: footer;}

input[type="button"] {
  align-items: center;
  text-decoration: none;
  background-color: rgb(228, 90, 39);
  color: #ffffff;
  border-color: transparent;
  border-radius: 25px;
  padding: 10px 10px;
  font-family: Be Vietnam Pro;
}

input[type="button"]:hover {
  background-color: #ffffff;
  color: rgb(228, 90, 39);
  border: 2px solid rgb(228, 90, 39);
  cursor: pointer;

}



a[name="testimonials-btn"] {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 15%;
}



.grid-container {
  display: grid;
  grid-template-areas: 
   'header'
   'firstblock'
   'secondblock'
   'testimonials-title'
   'testimonials'
   'button'
   'pre-footer'
   'footer';
   font-family: Be Vietnam Pro;

}

.grid-container > div {
  display: flex;
  padding: 50px 0;
}

.item1 {
  justify-content: space-evenly;
}

.item1 h1 {
  text-align: left;
  font-size: 1.6rem;
  color: rgb(2, 2, 108);
  font-weight: 900;
  font-family: Be Vietnam Pro;

}

.menu {
  display: flex;
  
}

.menu h4 {
  padding: 0px 10px;
  align-items: center;
  color: rgb(2, 2, 108);
}

.menu h4:hover {
  color: rgb(228, 90, 39);
  cursor: pointer;
}

.item2 {
  font-family: Be Vietnam Pro;
  color: rgb(2, 2, 108);
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  margin-left: 5%;

}

.item2-text {
  
  width: 50%;
}

.item2-text h1 {
  font-weight: 600;
  width: 60%;
  text-align: left;

}

.item2-text p {
  width: 45%;
  margin-top: 5%;
  text-align: left;
}

.item2-img {
  width: 50%;
  margin-right: 5%;
}

.item2-text button {
  text-decoration: none;
  background-color: rgb(228, 90, 39);
  color: #ffffff;
  border-color: transparent;
  border-radius: 25px;
  padding: 10px 10px;
  font-family: Be Vietnam Pro;
  margin-top: 10%;
  width: 20%;
  cursor: pointer;

}

.item2-text button:hover{
  background-color: #ffffff;
  color: rgb(228, 90, 39);
  border: 2px solid rgb(228, 90, 39);
}


.item3 {
  font-family: Be Vietnam Pro;
  color: rgb(2, 2, 108);
  justify-content: space-around;
  align-content: center;

}

.pros {
  width: 30%;
  
  
}

.pros h1 {
  font-weight: 600;
  font-family: Be Vietnam Pro;

}

.pros p {
  width: 50%;
  text-align: left;
  margin-top: 5%;
}

.pros-list {
  align-items: center;
  width: 40%;
  color: rgb(2, 2, 108);
}

.pro1, .pro2, .pro3 {
  margin-bottom: 5%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.pro1 h3, .pro2 h3, .pro3 h3 {
  margin-right: 5%;
  color: #ffffff;
  background-color: rgb(228, 90, 39);
  border-radius: 50%;
  text-align: center;
  padding: 2.5% 4%;
}

.pro1 p, .pro2 p, .pro3 p {
  text-align: left;
}



.item4 {
  justify-content: center;
  
}

.item4 h1 {
  text-align: center;
  color: rgb(2, 2, 108);
  font-weight: 600;
  margin-top: 10%;
  font-family: Be Vietnam Pro;
  border-bottom: 1px solid rgb(228, 90, 39);

}


.testimonials-btn {
  justify-self: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 15%;
 }

 


.item6 {
  background-color: rgb(228, 90, 39);
  justify-content: center;  
  color: #ffffff;
  height: 50vh;

}

.item6 h2 {
  font-family: Be Vietnam Pro;
  margin-right: 10% ;
  align-self: center;

}

.item6 button { 
  display: flex;
  align-self: center;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 10px;
  color: rgb(228, 90, 39);
  border-color: transparent;
  border-radius: 25px;
  font-family: Be Vietnam Pro;}

.item6 button:hover {
  background-color: rgb(228, 90, 39);
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;

}

.item7 {
  display: flex;
  flex-direction: row;
  background-color: rgb(59, 57, 57);
  padding: 50px;
  height: 50vh;

}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 40%;
  color: #ffffff ;
  text-align: center;

}

.footer-logo h1 {
  font-family: Be Vietnam Pro;

}

.social {
  margin: 2%;
}

.social img {
  margin: 2%;
  cursor: pointer;

}

.footer-menu  {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20%;
  padding-right: 5%;
  
}

.footer-menu > div {
  margin: 5%;
  color: #ffffff;
}

.footer-menu div:hover{
 color: rgb(228, 90, 39);
 cursor: pointer;

}

.input-copyright {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items:center ;
   
}



form {
  display: flex;
  flex-direction: row;
}

input[type=text] {
  display: flex;
  border-radius: 20px;
  border: none;
  transition: 0.2s;
  outline: none;
  box-sizing: border-box;

}

input[type=text]:focus {
  border: 2px solid rgb(228, 90, 39);
  box-sizing: border-box;


}

.copyright h6 {
  text-align: center;
  color: #ffffff;
}


@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

section {
  display: flex;
  justify-self: center;
  width: 50%;
  /* padding: 0 1.25rem; */
  font-family: Be Vietnam Pro;

  /* font-family: 'Lato', sans-serif; */
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 30%;
  margin-top: 10%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 10px;
  font-family: Be Vietnam Pro;

}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: transparent;
  counter-increment: item;
}

.carousel__slide h4, p {
  justify-self: center;
  text-align: center;
  color: rgb(2, 2, 108);

}

.carousel__slide h4 {
  font-weight: 500;
}

.carousel__slide p {
  margin-top: 15%;
  max-width: 70%;
  margin-left: 15%;
}

.carousel__slide:nth-child(even) {
  background-color: transparent;
}

/* .carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
} */

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(228, 90, 39);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 30%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
  
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: rgb(228, 90, 39);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}