.item1 { grid-area: header;}
.item2 { grid-area: firstblock;}
.item3 { grid-area: secondblock;}
.item4 { grid-area: testimonials-title;}
.item5 { grid-area: testimonials;}
.item6 { grid-area: pre-footer;}
.item7 { grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas: 
   'header'
   'firstblock'
   'secondblock'
   'testimonials-title'
   'testimonials'
   'pre-footer'
   'footer';

}

.grid-container > div {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.item6 {
  background-color: orangered;
}

.item7 {
  background-color: rgb(59, 57, 57);
  padding: 50px;
}