@charset "UTF-8";

@media screen and (max-width: 768px) {

  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;

  }

  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

  .grid-container {
    width: auto;
  }

  #burguer {
    display: block;
    margin-left: 5%;
    padding: 0;
    color: rgb(2, 2, 108);
    text-align: center;
    font-size: 30px;
    cursor: pointer;


  }

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    font-family: Be Vietnam Pro;
    color: rgb(2, 2, 108);
    text-align: left;
  }

  h3 {
    float: inline-start;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgb(228, 90, 39);
    justify-self: center;
    align-self: center;
    text-align: center;
    line-height: 1.5rem;
    width: 20%;
    border-radius: 50%
  }

  p {
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;

  }

  .item1 {
    grid-area: header;
  }

  .item2 {
    grid-area: firstblock;
  }

  .item3 {
    grid-area: secondblock;
  }

  .item4 {
    grid-area: testimonials-title;
  }

  .item5 {
    grid-area: testimonials;
  }

  .testimonials-btn {
    grid-area: button;
  }

  .item6 {
    grid-area: pre-footer;
  }

  .item7 {
    grid-area: footer;
  }

  input[type="button"] {
    align-items: center;
    text-decoration: none;
    background-color: rgb(228, 90, 39);
    color: #ffffff;
    border-color: transparent;
    border-radius: 25px;
    padding: 10px 10px;
    font-family: Be Vietnam Pro;
  }

  input[type="button"]:hover {
    background-color: #ffffff;
    color: rgb(228, 90, 39);
    border: 2px solid rgb(228, 90, 39);
    cursor: pointer;

  }



  a[name="testimonials-btn"] {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
  }


  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'firstblock'
      'secondblock'
      'testimonials-title'
      'testimonials'
      'button'
      'pre-footer'
      'footer';

  }

  .grid-container>div {
    display: flex;
    padding: 50px 0;
  }

  header {
    display: block;
    width: 100%;
    padding: 5%;
  }

  .logo {
    width: 30%;
    text-align: center;
  }

  i#burger {
    color: rgb(2, 2, 108);
    font-size: 2rem;
    width: 10%;
    text-align: center;
    margin-left: 60%;
    margin-bottom: 5%;
    margin-top: -5%;
  }

  #menuburger {

    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-right: 5%;

  }

  menu {
    width: 20%;
  }

  menu ul {
    list-style-type: none;


  }

  menu ul li {
    text-align: right;
    font-family: Be Vietnam Pro;
    color: rgb(2, 2, 108);
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .btn1 {
    display: none;
  }

  section.item2 {
    font-family: Be Vietnam Pro;
    color: rgb(2, 2, 108);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
  }

  .item2-text {
    width: 80%;
    margin-top: 5%;
    text-align: center;
  }

  .item2-text h1 {
    width: 100%;
    text-align: center;

  }

  .item2-text p {
    width: 100%;
    margin-top: 15%;
  }

  .item2-img {
    width: 100%;
    margin-bottom: 30%;

  }

  .item2-btn {
    margin-top: 15%;
    margin-bottom: 30%;
    width: 40%;
  }

  section.item3 {
    font-family: Be Vietnam Pro;
    color: rgb(2, 2, 108);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }

  .pros {
    width: 100%;
  }

  .pros h1 {
    text-align: center;
    margin-bottom: 10%;
  }

  .pros p {
    width: 100%;
    text-align: center;
  }

  .pros-list {
    width: 100%;
  }

  .pro1,
  .pro2,
  .pro3 {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 187, 163);
    border-radius: 15px;
    padding: 20px;
    margin: 10%;
  }

  .pro1 h3,
  .pro2 h3,
  .pro3 h3 {
    justify-self: center;
    align-self: center;
    padding: 4% 4%;
    margin-right: 5%;
  }

  section.item4 {
    justify-content: center;
  }

  .item4 h1 {
    text-align: center;
    color: rgb(2, 2, 108);
    font-weight: 600;
    margin-top: 10%;
    padding-bottom: 2%;
    font-size: 2rem;
    font-family: Be Vietnam Pro;
    border-bottom: 5px solid rgb(228, 90, 39);
  }

  .item4 h1 {
    font-size: 26px;
    padding-bottom: 5%;
  }

  section {
    width: 80%;
    height: 100%;
  }

  @keyframes tonext {
    75% {
      left: 0;
    }

    95% {
      left: 100%;
    }

    98% {
      left: 100%;
    }

    99% {
      left: 0;
    }
  }

  @keyframes tostart {
    75% {
      left: 0;
    }

    95% {
      left: -300%;
    }

    98% {
      left: -300%;
    }

    99% {
      left: 0;
    }
  }

  @keyframes tonext {
    75% {
      left: 0;
    }

    95% {
      left: 100%;
    }

    98% {
      left: 100%;
    }

    99% {
      left: 0;
    }
  }

  @keyframes tostart {
    75% {
      left: 0;
    }

    95% {
      left: -300%;
    }

    98% {
      left: -300%;
    }

    99% {
      left: 0;
    }
  }

  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }

    97% {
      scroll-snap-align: none;
    }

    99% {
      scroll-snap-align: none;
    }

    100% {
      scroll-snap-align: center;
    }
  }

  section {
    display: flex;
    justify-self: center;
    width: 80%;
  }



  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .carousel {
    position: relative;
    padding-top: 30%;
    margin-top: 10%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 10px;
  }

  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: transparent;
    counter-increment: item;
  }

  .carousel__slide h4,
  p {
    justify-self: center;
    text-align: center;
    color: rgb(2, 2, 108);
    font-family: Be Vietnam Pro;
  }

  .carousel__slide h4 {
    font-weight: 500;
  }

  .carousel__slide p {
    margin-top: 15%;
    max-width: 70%;
    margin-left: 15%;
  }

  .carousel__slide:nth-child(even) {
    background-color: transparent;
  }

  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }

  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }

  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }

  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(228, 90, 39);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }

  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 30%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }

  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }

  .carousel::after,
  .carousel__next {
    right: -1rem;
  }

  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: rgb(228, 90, 39);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }

  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }



  .testimonials-btn {
    justify-self: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 15%;
  }





  .item6 {
    flex-direction: column;
    height: 50vh;
    margin: 0;
    display: flex;
    background-color: rgb(228, 90, 39);
    justify-content: center;
    height: 50vh;
  }

  .item6 h1 {
    color: #ffffff;

    margin-bottom: 10%;
    margin-right: 0;
    text-align: center;
  }

  input.item6-btn {
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(228, 90, 39);
    display: flex;
    align-self: center;
    text-align: center;
    border-color: transparent;
    border-radius: 25px;
    font-family: Be Vietnam Pro;
  }

  input.item6-btn:hover {
    background-color: rgb(228, 90, 39);
    color: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
  }

  .item7 {
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 57, 57);
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: Be Vietnam Pro;
    width: 100%;
    height: 50vh;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
  }

  .footer-logo h1 {
    color: #ffffff;
    font-family: Be Vietnam Pro;
    align-self: center;
  }

  .social {
    margin: 1%;
  }

  .social img {
    margin: 10% 2%;
    cursor: pointer;

  }

  nav.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 50%;
    line-height: 1.4rem;
    font-family: Be Vietnam Pro;
  }

  .footer-menu>div {
    margin: 5% 5% 0 5%;
  }

  .footer-menu>ul {
    flex-wrap: wrap;
    margin: 5%;
    color: #ffffff;
  }

  .footer-menu ul li:hover {
    color: rgb(228, 90, 39);
    cursor: pointer;
  }

  .input-copyright {
    width: 100%;
    align-items: center;
    margin-top: 5%;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Be Vietnam Pro;
  }

  input[type=text] {
    display: flex;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
    outline: none;
    box-sizing: border-box;
    line-height: 2.5rem;

  }

  input[type=text]:focus {
    border: 2px solid rgb(228, 90, 39);
    box-sizing: border-box;
  }

  .copyright h6 {
    font-size: 12px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    color: #b5b1b1;
    font-family: Be Vietnam Pro;
  }


  /* Pequenas telas: até 600px
  Celular: 600px até 768px
  Tablet: 768px até 992px
  Desktop: 992px até 1200px
  Grandes telas: acima de 1200px */

}